{% extends "base.html" %}
{% load filters %}

{% block content %}
<div class="container">
    <span><a href="{% url 'course_list' %}">Back to course list</a></span>
    <h1>{{ course.name }}</h1>
    <span>{{ course.date }}</span>
    <hr />
    <p>
        {% if course.promo_image %}
        <img width="250px" class="center-block" src="{{ course.promo_image.url }}" style="box-shadow: 0 0 6px -2px black;">
        <p class="text-secondary text-center">Haley</p>
        {% endif %}
        {{ course.description|markdownify|safe }}
    </p>

    <h2>Filer:</h2>
    <ul>
        {% for file in course.file.all %}
        <li><a href="{{ file.file.url }}">{{ file.basename }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
