{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Courses</h1>
    <ul class="list-group">
    {% for course in object_list %}
        <a  href="{% url 'course' course.pk %}" class="list-group-item">
            <p class="text-primary" style="display: inline-block;">{{ course.name }}</p>
            <p class="pull-right">{{ course.date }}</p>
            <p class="text-muted">{{ course.description|truncatewords:8 }}</p>
        </a>
    {% endfor %}
    </ul>
</div>
{% endblock %}
